<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-success text-white text-center">
        <h1 class="mb-0">Sign up</h1>
        <p class="mb-0 mt-2">Join our community today!</p>
      </div>
      <div class="card-body p-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>